﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>mywellness cloud API</h1>
    <p class="lead">mywellness® cloud, the first ever cloud computing platform in our industry, is a key ingredient of the Technogym Ecosystem.
This platform provides a complete set of web and mobile applications that can be accessed from Technogym equipment and personal devices. This allows operators to connect with their customers while also providing a truly integrated and personalised training experience.</p>
     <p><a data-bind="event: { click: openAuth }" href="#" data-href="https://usertestext.mywellness.com:13443/cloud/en-GB/OAuthApplication/Login?redirect_uri=http%3A%2F%2Foauthdev.mywellness.com/%2Fhome%2FOAuth&amp;client_id=@ViewBag.ClientId&amp;scope=read&amp;state=state" class="btn btn-primary btn-large">Connect to mywellness</a></p>
    
   <!-- <p><a data-bind="event: { click: openAuth }" href="#" data-href="https://www.strava.com/oauth/authorize?redirect_uri=http%3A%2F%2Foauthdev.mywellness.com%2Fhome%2FOAuthStrava&amp;client_id=303&amp;response_type=code" class="btn btn-primary btn-large">Connect to strava</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>User</h2>
        <p>Get all user profile information</p>
        <p><a class="btn btn-default" data-bind="css: buttonState, event: { click: loadSectionData}" data-getter="user" href="#">show more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Activity Stream</h2>
        <p>Activity stream data </p>
        <p><a class="btn btn-default" data-bind="css: buttonState, event: { click: loadSectionData}" data-getter="activitystream" href="#">show more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Training Program</h2>
        <p>Indoor activities</p>
        <p><a class="btn btn-default" data-bind="css: buttonState, event: {click: loadSectionData}" data-getter="trainingprogram" href="#">show more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>State:</strong>&nbsp;<span style="word-wrap: break-word;" data-bind="text: statusMessage"></span>
        </div>
    </div>
</div>

<script type="text/javascript">
    window._clientId = '@ViewBag.ClientId';
    window._baseUrl = 'https://servicestestext.mywellness.com:1443/Api/v1/';
</script>